datadir="/var/lib/proxysql"
ldap_auth_plugin="/usr/lib/proxysql/proxysql_okta_ldap_auth.so"

admin_variables=
{
    admin_credentials="admin:admin;radmin:radmin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    interfaces="0.0.0.0:6033"
    monitor_username="monitor"
    monitor_password="monitor_pass"
}

pgsql_variables=
{
    interfaces="0.0.0.0:6133"
    monitor_username="monitor"
    monitor_password="monitor_pass"
}
